/**************************** ESTILO GENERAL ****************************/

@font-face {
    font-family: titulos;
    src: url(../fonts/Ubuntu/Ubuntu-Regular.ttf);
}

* {font-family: titulos;}

* {box-sizing: border-box;}

html {scroll-behavior: smooth;}

body {margin: 0; padding: 0;
      background-color: rgb(255, 255, 255);
}

section {padding: 5% 0;}

.titulo-seccion1 {
    font-size: 4rem;
    color: rgb(0, 195, 255);
    text-align: center;
    padding-bottom: 3%;
    padding-top: 3%;
}

/****************************** BARRA DE NAVEGACIÓN ******************************/

nav {position: sticky;
    top: 0;
    z-index: 999;
}

.topnav {
   background-color: rgb(0, 195, 255);
   overflow: hidden;
   align-items: center;
   display: flex;
}

.topnav a {
   float: left;
   display: block;
   text-decoration: none;
   color: black;
   text-align: center;
   padding: 14px 16px;
   font-size: 25px;
}

.topnav a:hover {
   color: white;
   text-decoration: underline;
}

.topnav .icon {
   display: none;
   padding: 15px;
}

#banner {height: 60px;}

#trainer {color: rgb(0, 195, 255);}

@media screen and (max-width: 1050px) {
 .topnav a:not(:first-child) {display: none;}
 .topnav a.icon {
     float: right;
     display: block;
 }
}

@media screen and (max-width: 1050px) {
 .topnav.responsive {position: relative;}
 .topnav.responsive a.icon {
     position: absolute;
     right: 0;
     top: 0;
 }
 .topnav.responsive a {
     float: none;
     display: block;
     text-align: left;
 }
}


/****************************** FORMULARIO ******************************/

  input[type=text], select, textarea {
    width: 100%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    resize: vertical;
  }
  
  label {
    padding: 12px 12px 12px 0;
    display: inline-block;
  }
  
  input[type=submit] {
    font-size: 1.5rem;
    background-color: rgb(0, 195, 255);
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 20px;
    cursor: pointer;
    float: right;
  }
  
  input[type=submit]:hover {
    background-color: white;
    color: rgb(0, 195, 255);
    transition: 0.3s;
  }
  
  .container {
    border-radius: 5px;
    background-color: #f2f2f2;
    padding: 20px;
  }
  
  .col-25 {
    float: left;
    width: 25%;
    margin-top: 6px;
  }
  
  .col-75 {
    float: left;
    width: 75%;
    margin-top: 6px;
  }
  
  /* Clear floats after the columns */
  .row::after {
    content: "";
    display: table;
    clear: both;
  }
  
  /* Responsive layout - when the screen is less than 600px wide, make the two columns stack on top of each other instead of next to each other */
  @media screen and (max-width: 600px) {
    .col-25, .col-75, input[type=submit] {
      width: 100%;
      margin-top: 0;
    }
  }

  /**************************** MEDIA QUERIES ****************************/

@media only screen and (width<=1050px){
    .topnav {display: block;}
}